.icon-help {
    float: right;
    width: 22px;
    height: 22px;
    margin-top: -1px;
    cursor: pointer;
    background: url(./icon-help.png) no-repeat center top;

    &:hover {
        background-position: center bottom;
    }
    &:before {
        display: none;
    }
}
